body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo {
  font-family: "Abril Fatface";
}

.item-border {
  border-bottom: 1px solid white;
}

.item-border:hover {
  border-bottom: 1px solid black;
}

.welcome-heading {
  font-size: 4rem;
}

.landing-img {
  max-width: 100%;
}

/* .sub-head {
  border-bottom: 0.05rem solid black;
} */

.sub-border {
  border: none;
  height: 0.07rem;
  background-color: black;
}

footer {
  background-color: rgb(182, 255, 206);
}

#overflow {
  overflow: scroll;
  height: 40rem;
}

.card {
  max-width: 100%;
  max-height: 100%;
}

.add-btn {
  padding: 0.5rem 1rem;
}

.text-coffee {
  color: rgb(105, 17, 17);
}

.article-post {
  padding-left: 10rem;
  padding-right: 10rem;
}
@media only screen and (max-width: 992px) {
  .article-post {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.pointer {
  cursor: pointer;
}

.span-hover {
  border-bottom: 1px solid white;
}

.span-hover:hover {
  color: rgb(85, 85, 85) !important;
  border-bottom: 1px solid black;
}

.dashboard-nav {
  color: rgb(126, 126, 126) !important;
}

.dashboard-nav:hover {
  color: rgb(85, 85, 85) !important;
}

/* .h-dashboard {
  height: 95vh;
} */