<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-1/css/all.css">

   <title>LOG LOG AY</title>
</head>

<body>

   <div id="app">

      <div class="container">
         <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
               <div class="card card-signin my-5">
                  <div class="card-body">
                     <!-- bawah ini login -->
                     <div class="login" v-if="userRegister === false">
                        <h5 class="card-title text-center">Sign In</h5>
                        <form class="form-signin">
                           <div class="form-label-group mb-4">
                              <input type="email" id="inputEmail" class="form-control" 
                                 placeholder="Email address" required autofocus v-model="userLogin.email">
                              <!-- <label for="inputEmail">Email address</label> -->
                           </div>

                           <div class="form-label-group mb-4">
                              <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                                 required v-model="userLogin.password">
                              <!-- <label for="inputPassword">Password</label> -->
                           </div>
                           <button type="button" class="btn btn-primary btn-block" @click="login">Sign in</button>
                           <hr class="my-4">
                           <button class="btn btn-lg btn-danger btn-block" type="submit"><i
                                 class="fab fa-google mr-2"></i>
                              Sign in with Google</button>
                           <p class="text-center mt-4" @click="toggleLoginRegister(true)">Don't have an account yet? <a href="">Click to Register</a></p>
                        </form>
                     </div>
                     <!-- login sampai sini -->
                     <!-- dibawah ini untuk register -->
                     <div class="register" v-else>
                        <h5 class="card-title text-center">Register</h5>
                        <form class="form-signin">
                           <div class="form-label-group my-4">
                              <input type="text" id="inputName" class="form-control" v-model="userRegisterData.name"
                                 placeholder="Your name" required autofocus>
                           </div>
                           <div class="form-label-group my-4">
                              <input type="email" id="inputEmail" class="form-control" v-model="userRegisterData.email"
                                 placeholder="Email address" required autofocus>
                           </div>
                           <div class="form-label-group my-4">
                              <input type="password" id="inputPassword" class="form-control" v-model="userRegisterData.password" placeholder="Password"
                                 required>
                           </div>

                           <button type="button" class="btn btn-primary btn-block" @click="registerUser">Sign Up</button>

                        </form>
                     </div>
                     <!-- sampai sini -->
                  </div>
               </div>
            </div>
         </div>
      </div>

   </div>


   <!-- script -->
   <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"></script>

   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   <script src="./assets/js/main.js"></script>
   <!-- <script src="./assets/js/lightbox-plus-jquery.min.js"></script> -->
</body>

</html>