<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-signin-client_id" content="854658090010-6opoqfhjqqj89ip6qvovt6d21sgtdn5t.apps.googleusercontent.com">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href='assets/css/style.css' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Muli|Noto+Sans|Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.ckeditor.com/ckeditor5/16.0.0/classic/ckeditor.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <title>WeBlog</title>
</head>
<body>
    <div id='app'>

        <!-- INI LANDING PAGE -->
        <section id='landing' v-if="currentPage === 'landing'">
            <header>
                <nav class="navbar navbar-expand-sm navbar-light bg-transparent">
                    <div class='container'>
                        <a href='#' class="navbar-brand">WeBlog</a>
                        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarMenu">
                            <ul class="navbar-nav ml-auto"> <!-- mr-auto/ml-auto -->
                                <li class="nav-item">
                                    <a href="#" class="nav-link disabled">Efficient  | Reliable</a>
                                </li>
                            </ul>
                            <ul class="navbar-nav ml-auto"> <!-- mr-auto/ml-auto -->
                                <li class="nav-item" @click="changePage('logIn')">
                                    <a href="#" class="nav-link" style='color: white'>Login</a>
                                </li> 
                                &nbsp;
                                <li class="nav-item">
                                    <button type="button" class="btn btn-dark" @click="changePage('signUp')">Create a Blog Web</button>
                                </li> 
                            </ul>
                        </div>
                    </div>
                </nav>
                <div id='banner'>
                    <h1>MODERN. CLEAN. ELEGANT.</h1>
                    <p>Easy to Use, No Code or Design Skills Required.</p>
                    <!-- <center><button type="button" class="btn btn-dark" id="btn-about"><h6>LEARN MORE</h6></button></center> -->
                    <center><a href="#what-we-offer" class="btn btn-dark" role="button" id='btn-about'><h6>LEARN MORE</h6></a></center>
                </div>
            </header>
            <div class='container' id='what-we-offer'>
                <h1>SERVICES WE OFFER</h1>
                <p id='headline'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum magnam tempore ut facere vero repellat, qui dolore delectus esse dolor et</p>
            </div>
            <div id ='key-features'>
                <div class='row features'>
                    <div class='col-md-6' style='float: left'>
                        <div class='row'>
                            <div class='col-md-2'>
                                <img src="assets/images/paintbrush.png" height=95 width=95 style='margin-top: 10px;'>
                            </div>
                            <div class="col-md-10">
                                <h3>Modern Design</h3>    
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, ipsam! Impedit nihil facilis inventore. Fuga illo et molestias voluptas, perspiciatis aut distinctio ipsam, non esse eos ea iste. Laudantium, placeat!</p>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-6'>
                        <div class='row'>
                            <div class='col-md-2'>
                                <img src="assets/images/doublesquare.png" height=95 width=95 style='margin-top: 10px;'>
                            </div>
                            <div class='col-md-10'>
                                <h3>Live Customizer</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, ipsam! Impedit nihil facilis inventore. Fuga illo et molestias voluptas, perspiciatis aut distinctio ipsam, non esse eos ea iste. Laudantium, placeat!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='row features' style='margin-bottom: 5rem;'>
                    <div class='col-md-6'>
                        <div class='row'>
                            <div class='col-md-2'>
                                <img src="assets/images/clock.png" height=95 width=95>
                            </div>
                            <div class='col-md-10'>
                                <h3>Quick Setup</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, ipsam! Impedit nihil facilis inventore. Fuga illo et molestias voluptas, perspiciatis aut distinctio ipsam, non esse eos ea iste. Laudantium, placeat!</p>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-6'>
                        <div class='row'>
                            <div class='col-md-2'>
                                <img src="assets/images/trolley.png" height=95 width=95>
                            </div>
                            <div class='col-md-10'>
                                <h3>Suitable for E-commerce</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, ipsam! Impedit nihil facilis inventore. Fuga illo et molestias voluptas, perspiciatis aut distinctio ipsam, non esse eos ea iste. Laudantium, placeat!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style='margin-bottom: 5rem;'>
                <div class="card" style="width: 90rem; margin: 0 auto;">
                    <div class="card-body">
                        <div class='row'>
                            <div class='col-md-6'>
                                <div align="center" class="embed-responsive embed-responsive-16by9">
                                    <video autoplay muted loop class="embed-responsive-item">
                                        <source src='./assets/videos/web-constructor.mp4' type=video/mp4>
                                    </video>
                                </div>
                            </div>
                            <div class='col-md-6'>
                                <h5 class="card-title" style='margin-top: 80px; color:rgb(104, 6, 173);'>USER-FRIENDLY BLOG BUILDER</h5>
                                <h1 class="card-subtitle mb-2 text-muted">The easiest way to build your own blog website</h1>
                                <p class="card-text">Making your site is like playing with building blocks. Add all types of content in just a few clicks, move it around or change it up anytime. Have fun with it.</p>
                                <a href="#" class="card-link">Templates</a>
                                <a href="#" class="card-link">Premium</a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style='margin-top: 5rem;'>
                <div align='center' class='container' id='create-website'>
                    <h3>So what are you waiting for...</h3>
                    <h1>Create your own blog for free!</h1>
                    <p>You can create an <strong>amazing website</strong> with WeBlog in just minutes</p>
                    <p>Join fellow bloggers and <strong>build one yourself</strong>.</p>
                    <button type="button" class="btn btn-dark" id='build-yourself'>Create a Website</button>
                </div>
                <div class='row' align='center' style='margin-top: 5rem'>
                    <div class='col-md-4'>
                        <div class="card border-0" style="width: 18rem;">
                            <img src="./assets/images/promote.png" class="card-img-top" alt="...">
                            <div class="card-body">
                            <p class="card-text">Think you're alone? Why don't you meet up with the growing amount of junior developers/bloggers around you?</p>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-4'>
                        <div class="card border-0" style="width: 18rem;">
                            <img src="./assets/images/teamwork.png" class="card-img-top" alt="...">
                            <div class="card-body">
                            <p class="card-text">Witness your career jump, as you work on top-notch digital content to satisfy the public</p>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-4'>
                        <div class="card border-0" style="width: 18rem;">
                            <img src="./assets/images/populationUse.png" class="card-img-top" alt="...">
                            <div class="card-body">
                            <p class="card-text">Even with minimum IT background, you can still become a pioneer of digitalization</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="page-footer font-small teal pt-4">
                <div class="container-fluid text-center text-md-left">
                    <div class="row">
                        <div class="col-md-6 mt-md-0 mt-3">
                            <h5 class="text-uppercase font-weight-bold">Disclaimer</h5>
                            <p>Used for development/education only. Do NOT deploy for production use.</p>
                        </div>
                        <hr class="clearfix w-100 d-md-none pb-3">
                        <div class="col-md-6 mb-md-0 mb-3">
                            <h5 class="text-uppercase font-weight-bold">Support</h5>
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">User testimonials</a></li>
                                <li><a href="#">FAQ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright text-center py-3">© 2020 Copyright:
                    <a href="#">Gabriel Timothy</a>
                </div>
            </footer>
        </section>





        <!-- INI SIGN UP PAGE -->
        <section id='sign-up' v-if="currentPage === 'signUp'">
            <div id='sign-up-container'>
                <div class="card" id='sign-up-card'>
                    <div class="card-body">
                        <div class="row">
                            <div class='col-md-6'>
                                <h1 class="card-title" id='sign-up-title'>Create Your Blog</h1>
                            </div>
                            <div class='col-md-6 d-flex justify-content-end'>
                                <button type="button" class="btn btn-dark" style='height: 2.5rem;' @click="changePage('landing')"><i class="material-icons" data-toggle='tooltip' title="Go back">keyboard_arrow_left</i></button>
                            </div>
                        </div>
                        <form>
                            <label for="website">1. Enter the name of your blog</label>
                            <input type="text" class="form-control" id="blogSignUp" placeholder="Blog name" data-toggle='tooltip' title="The name will be used for your blog's title">
                            <div class="row">
                                <div class='col-md-6'>
                                    <p style='margin-top: 2rem;'>2. Register</p>
                                    <div class="form-group">
                                        <label for="signup-email">Email address</label>
                                        <input type="email" class="form-control" id="signup-email" aria-describedby="emailHelp">
                                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                    </div>
                                    <br>
                                    <div class='form-group'>
                                        <label for="sign-up-password">Password</label>
                                        <input type="password" class="form-control" id="signup-password">
                                    </div>
                                    <button type="button" class="btn btn-dark">Create a Blog Web</button>
                                </div>
                                <div class='col-md-6'>
                                    <div class='container' style='margin-top: 6.5rem; margin-left: 2rem; border-left: solid black; height:14.1rem;'>
                                        <div class="g-signin2" data-onsuccess="onSignIn" style='margin-left: 2rem'></div>
                                    </div>
                                </div>
                            </div>
                            <div style='margin-top: 2rem;'>
                                <p>By registering and creating your website you agree to our Terms and conditions and the Privacy Policy.</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>



        <!-- INI LOGIN PAGE -->
        <section id='log-in' v-if="currentPage === 'logIn'">
            <div id='log-in-container'>
                <div class="card" id='log-in-card'>
                    <div class="card-body">
                        <div class='row'>
                            <div class='col-md-6'>
                                <h1 class="card-title" id='log-in-title'>Log In</h1>
                            </div>
                            <div class='col-md-6 d-flex justify-content-end'>
                                <button type="button" class="btn btn-dark" style='height: 2.5rem;' @click="changePage('landing')"><i class="material-icons" data-toggle='tooltip' title="Go back">keyboard_arrow_left</i></button>
                            </div>
                        </div>
                        <form>
                            <div class="row">
                                <div class='col-md-6'>
                                    <div class="form-group">
                                        <label for="login-email">Email address</label>
                                        <input type="email" class="form-control" id="login-email" aria-describedby="emailHelp">
                                    </div>
                                    <br>
                                    <div class='form-group'>
                                        <label for="login-password">Password</label>
                                        <input type="password" class="form-control" id="login-password">
                                    </div>
                                    <button type="button" class="btn btn-dark">Create a Blog Web</button>
                                </div>
                                <div class='col-md-6'>
                                    <div class='container' style='margin-top: 2.5rem; margin-left: 2rem; border-left: solid black; height:14.1rem;'>
                                        <div class="g-signin2" data-onsuccess="onSignIn" style='margin-left: 2rem;'></div>
                                    </div>
                                </div>
                            </div>
                            <div style='margin-top: 6rem;'>
                                <p>By logging in you agree to our Terms and conditions and the Privacy Policy.</p>
                            </div>
                        </form>
                    <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a> -->
                    </div>
                </div>
            </div>
        </section>



        <!-- INI DASHBOARD PAGE -->
        <section id='dashboard' v-if="currentPage === 'dashboard'">
            <nav class="navbar navbar-expand-sm navbar-light bg-light" id='dashboard-nav'>
                <a href='#' class="navbar-brand">WeBlog</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarMenu">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <button type="button" class="btn btn-dark" style='margin-top: 0.2rem'>Write</button>
                        </li> 
                        <li class="nav-item">
                            <a href="#" class="nav-link"><img src='./assets/images/blank-avatar.png' width=25 height=25></a>
                        </li>
                        <li class="nav-item" style='margin-top: 0.6rem'>
                            <a href="#" onclick="signOut();">Sign out</a>
                        </li> 
                    </ul>
                </div>
            </nav>
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                <h1 class="display-4">Welcome to Your Personal Dashboard</h1>
                <p class="lead">All your previous posts should appear here. It's all yours to manage and maintain.</p>
                </div>
            </div>
            <div align='center'class="row" id='dash-1'>
                <div class="col-md-12">
                    <div class="card card-dash" style="width: 18rem; height:25rem;">
                        <div class="card-body posts">
                        <h1 class="card-title">Whoops!</h1>
                        <h6 class="card-subtitle mb-2 text-muted">It seems that you currently have no posts to display</h6>
                        <p class="card-text"></p>
                        <a href="#" class="card-link">Create Post</a>
                        <a href="#" class="card-link">Browse Themes</a>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="page-footer font-small teal pt-4">
                <div class="container-fluid text-center text-md-left">
                        <div class="row">
                            <div class="col-md-6 mt-md-0 mt-3">
                                <h5 class="text-uppercase font-weight-bold">Disclaimer</h5>
                                <p>Used for development/education only. Do NOT deploy for production use.</p>
                            </div>
                            <hr class="clearfix w-100 d-md-none pb-3">
                            <div class="col-md-6 mb-md-0 mb-3">
                                <h5 class="text-uppercase font-weight-bold">Support</h5>
                                <ul>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">User testimonials</a></li>
                                    <li><a href="#">FAQ</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                <div class="footer-copyright text-center py-3">© 2020 Copyright:
                    <a href="#">Gabriel Timothy</a>
                </div>
            </footer>
        </section>

        

        <!-- INI CREATE NEW BLOG PAGE -->
        <section id='create-blog' v-if="currentPage === 'createPost'">
            <nav class="navbar navbar-expand-sm navbar-light bg-light" id='dashboard-nav'>
                <a href='#' class="navbar-brand">WeBlog</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarMenu">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <button type="button" class="btn btn-dark" style='margin-top: 0.2rem'>Write</button>
                        </li> 
                        <li class="nav-item">
                            <a href="#" class="nav-link"><img src='./assets/images/blank-avatar.png' width=25 height=25></a>
                        </li>
                        <li class="nav-item" style='margin-top: 0.6rem'>
                            <a href="#" onclick="signOut();">Sign out</a>
                        </li> 
                    </ul>
                </div>
            </nav>
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                <h1 class="display-4">Welcome to Your Personal Dashboard</h1>
                <p class="lead">All your previous posts should appear here. It's all yours to manage and maintain.</p>
                </div>
            </div>
            <div id='new-post'>
            <div class='container' id='new-post-container'>
                <div class="card" id='new-post-card'>
                    <div class="card-body">
                        <h1>Create new post</h1>
                        <p>Pour all your ideas out.</p>
                        <center>
                        <div id="editor"></div>
                        <script>
                                ClassicEditor
                                        .create( document.querySelector( '#editor' ) )
                                        .then( editor => {
                                                console.log( editor );
                                        } )
                                        .catch( error => {
                                                console.error( error );
                                        } );
                        </script>
                        <br>
                        <button type="button" class="btn btn-dark">Post</button>
                        </center>
                    </div>
                </div>
            </div>
            </div>
            <footer class="page-footer font-small teal pt-4">
                <div class="container-fluid text-center text-md-left">
                        <div class="row">
                            <div class="col-md-6 mt-md-0 mt-3">
                                <h5 class="text-uppercase font-weight-bold">Disclaimer</h5>
                                <p>Used for development/education only. Do NOT deploy for production use.</p>
                            </div>
                            <hr class="clearfix w-100 d-md-none pb-3">
                            <div class="col-md-6 mb-md-0 mb-3">
                                <h5 class="text-uppercase font-weight-bold">Support</h5>
                                <ul>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">User testimonials</a></li>
                                    <li><a href="#">FAQ</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                <div class="footer-copyright text-center py-3">© 2020 Copyright:
                    <a href="#">Gabriel Timothy</a>
                </div>
            </footer>    
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="assets/js/main.js"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</body>
</html>