<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <!--  -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-1/css/all.css">
   <link rel="stylesheet" href="./assets/css/style.css">
   <link rel="stylesheet" href="./assets/css/lightbox.min.css">
   <link href="https://fonts.googleapis.com/css?family=Gelasio|Patrick+Hand+SC|Playfair+Display+SC|Roboto&display=swap"
      rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Fondamento&display=swap" rel="stylesheet">
   <!--  -->
   <title>Wordpress kuy</title>
</head>

<body>
   <div id="app">

      <div id="landing-page" v-if='someoneLogin.condition === false'>
         <div class="container">
            <div class="row">
               <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                  <div class="card card-signin my-5">
                     <div class="card-body">
                        <!-- bawah ini login -->
                        <div class="login" v-if="userRegister === false">
                           <h5 class="card-title text-center">Sign In</h5>
                           <form class="form-signin">
                              <div class="form-label-group mb-4">
                                 <input type="email" id="inputEmail" class="form-control" 
                                    placeholder="Email address" required autofocus v-model="userLogin.email">
                                 <!-- <label for="inputEmail">Email address</label> -->
                              </div>
   
                              <div class="form-label-group mb-4">
                                 <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                                    required v-model="userLogin.password">
                                 <!-- <label for="inputPassword">Password</label> -->
                              </div>
                              <button type="button" class="btn btn-primary btn-block" @click="login">Sign in</button>
                              <hr class="my-4">
                              <button class="btn btn-lg btn-danger btn-block" type="submit"><i
                                    class="fab fa-google mr-2"></i>
                                 Sign in with Google</button>
                              <p class="text-center mt-4" @click="toggleLoginRegister(true)">Don't have an account yet? <a href="">Click here to Register</a></p>
                           </form>
                        </div>
                        <!-- login sampai sini -->
                        <!-- dibawah ini untuk register -->
                        <div class="register" v-if="userRegister === true">
                           <h5 class="card-title text-center">Register</h5>
                           <form class="form-signin">
                              <div class="form-label-group my-4">
                                 <input type="text" id="inputName" class="form-control" v-model="userRegisterData.name"
                                    placeholder="Your name" required autofocus>
                              </div>
                              <div class="form-label-group my-4">
                                 <input type="email" id="inputEmail" class="form-control" v-model="userRegisterData.email"
                                    placeholder="Email address" required autofocus>
                              </div>
                              <div class="form-label-group my-4">
                                 <input type="password" id="inputPassword" class="form-control" v-model="userRegisterData.password" placeholder="Password"
                                    required>
                              </div>
   
                              <button type="button" class="btn btn-primary btn-block" @click="registerUser">Sign Up</button>
   
                           </form>
                        </div>
                        <!-- sampai sini -->
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="after-login" v-if="someoneLogin.condition === true">
         <header>
            <div class="logo">
               <h5 class="logo-head">change</h5>
               <h3 class="logo-sub">For the better</h3>
            </div>
         </header>

         <div class="container">
            <nav class="navbar navbar-expand-md p-0">
               <button class="navbar-toggler" type="button" data-toggle='collapse' data-target='#trigger'>
                  <i class="fas fa-bars"></i>
               </button>

               <div class="collapse navbar-collapse d-md-flex justify-content-center" id="trigger">
                  <ul class="navbar-nav">
                     <li class="navbar-item">
                        <a href="#" class='nav-link'>Home</a>
                     </li>
                     <li class="navbar-item">
                        <a href="#gallery" class='nav-link'>Gallery</a>
                     </li>
                     <li class="navbar-item">
                        <a href="#blog" class='nav-link'>Blog</a>
                     </li>
                     <li class="navbar-item">
                        <a href="#contact" class='nav-link'>Contact</a>
                     </li>
                  </ul>
               </div>
            </nav>
         </div>

         <section class="showcase py-5">
            <div class="container">
               <div class="showcase-content">
                  <div class="showcase-description">
                     <div class="logo">
                        <!-- <h5 class="logo-head font-weight-bold">change</h5> -->
                        <h3 class="logo-sub">care for a little space in your mind?</h3>
                     </div>
                     <p class="m-0"><i>Tubuh yang berpatah hati.
                           Bergantung pada gaji,
                           berlomba jadi asri
                           mengais validasi.
                           Dan aku pun terhadir
                           seakan paling mahir
                           menenangkan dirimu
                           yang merasa terpinggirkan dunia.
                           Tak pernah adil,
                           kita semua gagal.
                           Angkat minumanmu
                           bersedih bersama-sama!</i></p>
                  </div>
                  <div class="showcase-image">
                     <img src="./assets/img/header.jpg" alt="">
                  </div>
               </div>
            </div>
         </section>

         <section id="gallery" class='py-5'>
            <!-- jangan lupa tambah padding -->
            <div class="container">
               <div class="gallery-heading text-center mb-5">
                  <h1>gallery</h1>
                  <h3>&hearts;</h3>
               </div>

               <div class="row no-gutters">
                  <div class="lightbox-content col-4">
                     <a href="./assets/img/1.jpg" data-lightbox='art'>
                        <img src="./assets/img/1.jpg" class="img-fluid" alt="">
                     </a>
                  </div>
                  <div class="lightbox-content col-4">
                     <a href="./assets/img/2.jpg" data-lightbox='art'>
                        <img src="./assets/img/2.jpg" class="img-fluid" alt="">
                     </a>
                  </div>
                  <div class="lightbox-content col-4">
                     <a href="./assets/img/3.jpg" data-lightbox='art'>
                        <img src="./assets/img/3.jpg" class="img-fluid" alt="">
                     </a>
                  </div>
                  <div class="lightbox-content col-4">
                     <a href="./assets/img/4.jpg" data-lightbox='art'>
                        <img src="./assets/img/4.jpg" class="img-fluid" alt="">
                     </a>
                  </div>
                  <div class="lightbox-content col-4">
                     <a href="./assets/img/5.jpg" data-lightbox='art'>
                        <img src="./assets/img/5.jpg" class="img-fluid" alt="">
                     </a>
                  </div>
                  <div class="lightbox-content col-4">
                     <a href="./assets/img/6.jpg" data-lightbox='art'>
                        <img src="./assets/img/6.jpg" class="img-fluid" alt="">
                     </a>
                  </div>
                  <div class="lightbox-content col-4">
                     <a href="./assets/img/7.jpg" data-lightbox='art'>
                        <img src="./assets/img/7.jpg" class="img-fluid" alt="">
                     </a>
                  </div>
                  <div class="lightbox-content col-4">
                     <a href="./assets/img/8.jpg" data-lightbox='art'>
                        <img src="./assets/img/8.jpg" class="img-fluid" alt="">
                     </a>
                  </div>
                  <div class="lightbox-content col-4">
                     <a href="./assets/img/9.jpg" data-lightbox='art'>
                        <img src="./assets/img/9.jpg" class="img-fluid" alt="">
                     </a>
                  </div>
               </div>
            </div>
         </section>

         <section id="blog" class="py-5">
            <div class="blog-heading text-center mb-5">
               <h1>blog</h1>
               <h3>&lowast;</h3>
            </div>
            <div class="container">
               <div class="row">
                  <div class="col-5">
                     <!-- <h5 class="blog-left-title text-center"
                        style="font-family: 'Playfair Display SC', sans-serif;">List of all article</h5> -->
                     <!-- bawah adalah get article -->
                     <div id="all-article">
                        <div class="border" style='border-radius: 4px; overflow: auto; max-height: 80vh;'>
                           <!-- lempar content ke sini -->
                           <div class="p-3 border-bottom">
                              <h5 class="article-title text-center mb-5"><strong>~ </strong>World Number Two<strong>
                                    ~</strong></h5>
                              <div class="row">
                                 <div class="col text-center">&uarr; 420 upvote</div>
                                 <div class="col text-center"><a href="#blog" onclick="contohBos()">Read article <i
                                          class="fas fa-play ml-2"></i></a></div>
                              </div>
                           </div>
                           <!-- sampai sini -->
                           <!-- lempar content ke sini -->
                           <div class="p-3 border-bottom">
                              <h5 class="article-title text-center mb-5"><strong>~ </strong>Opera house<strong>
                                    ~</strong></i>
                              </h5>
                              <div class="row">
                                 <div class="col text-center">&uarr; 420 upvote</div>
                                 <div class="col text-center"><a href="#blog" onclick="">Read article <i
                                          class="fas fa-play ml-2"></i></a></div>
                              </div>
                           </div>
                           <!-- sampai sini -->
                           <!-- lempar content ke sini -->
                           <div class="p-3 border-bottom">
                              <h5 class="article-title text-center mb-5"><strong>~ </strong>Apple Cider<strong>
                                    ~</strong>
                              </h5>
                              <div class="row">
                                 <div class="col text-center">&uarr; 420 upvote</div>
                                 <div class="col text-center"><a href="#blog" onclick="">Read article <i
                                          class="fas fa-play ml-2"></i></a></div>
                              </div>
                           </div>
                           <!-- sampai sini -->
                           <!-- lempar content ke sini -->
                           <div class="p-3 border-bottom">
                              <h5 class="article-title text-center mb-5"><strong>~ </strong>Someday I'll Find My Way
                                 Home<strong> ~</strong></h5>
                              <div class="row">
                                 <div class="col text-center">&uarr; 420 upvote</div>
                                 <div class="col text-center"><a href="#blog" onclick="">Read article <i
                                          class="fas fa-play ml-2"></i></a></div>
                              </div>
                           </div>
                           <!-- sampai sini -->
                           <!-- lempar content ke sini -->
                           <div class="p-3 border-bottom">
                              <h5 class="article-title text-center mb-5"><strong>~ </strong>What's My Age Again?<strong>
                                    ~</strong></i></h5>
                              <div class="row">
                                 <div class="col text-center">&uarr; 420 upvote</div>
                                 <div class="col text-center"><a href="#blog" onclick="">Read article <i
                                          class="fas fa-play ml-2"></i></a></div>
                              </div>
                           </div>
                           <!-- sampai sini -->
                           <!-- lempar content ke sini -->
                           <div class="p-3 border-bottom">
                              <h5 class="article-title text-center mb-5"><strong>~ </strong>Le Festin<strong> ~</strong>
                              </h5>
                              <div class="row">
                                 <div class="col text-center">&uarr; 420 upvote</div>
                                 <div class="col text-center"><a href="#blog" onclick="">Read article <i
                                          class="fas fa-play ml-2"></i></a></div>
                              </div>
                           </div>
                           <!-- sampai sini -->
                        </div>
                     </div>
                  </div>
                  <div class="col-7">
                     <div id="detail-article">
                        <!-- bawah adalah get details article -->
                        <div class="border" style="border-radius: 4x; overflow: auto; max-height: 80vh;">
                           <p class="text-center py-4 mb-0"><i>Select article to read</i></p>
                        </div>

                        <!-- <div class="border" style="border-radius: 4px; overflow: auto; max-height: 80vh;">
                           <div class="mx-4 my-3">
                              <h4 style="font-family: 'Gelasio', serif">World Number two</h4>
                              <p class="mt-4" style="font-family: 'Gelasio', serif;"><i>Honestly
                                    My eyes have never been so useless
                                    Unconsciously
                                    I dive into her warmth, her kindness
                                    Sever me from the rope that's keeping up, tying me down
                                    And here goes the free fall...
                                    Suffocating
                                    The thought of her suffocates me
                                    Duplicates my worries and fears that she'll never be mine
                                    Oh god help me, help me change her mind
                                    Just let me sleep
                                    So i can pick up where i left off
                                    Rewind it back, we'll hope that it makes sense
                                    And put the midnight fantasies all in repeat
                                    Dreams of her takes me higher
                                    Makes me decide to fall back asleep
                                    Cause she's too far in world number one
                                    She's my red rose in the other one
                                    Dreams of her takes me higher
                                    Beneath it all, she's all i could see
                                    Cause she's too far in world number one
                                    She's my red rose in the other one
                                    Take it from me
                                    I can't imagine you so beautiful
                                    As clearly
                                    Obviously
                                    I petrify when you walk near me
                                    You said that two wrongs make a right
                                    But has our distance minimized?
                                    One sec, i just blacked out
                                    So here goes the free fall...
                                    [Back to Chorus 1 &
                                    Now breathe in the smoke
                                    We'll find our way home
                                    This hasn't happened yet
                                    But it will, but it will.
                                    We're silver and gold
                                    We'll find our way home
                                    Our hearts set to reset
                                    Yeah it will, yeah it will
                                    For the thrill
                                    This heart keeps screaming louder
                                    This whole town can hear it, the city knows it
                                    She'll be my love in world number one
                                    And keep her running the other one</i>
                              </p>
                           </div>
                        </div> -->
                        <!-- sampai sini -->
                     </div>
                  </div>
               </div>
            </div>
         </section>

         <section id="contact">
            <footer>
               <p class="my-2">change for the better &copy; 2020</p>
            </footer>
         </section>
      </div>


   </div> <!-- ini adalah div vue -->



   <!-- script -->
   <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"></script>

   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   <script src="./assets/js/main.js"></script>
   <script src="./assets/js/lightbox-plus-jquery.min.js"></script>
</body>

</html>